@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

* {
  margin: 0;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/*
body{
  /* background-color: burlywood;
  background-image: url("../assets/images/sujavai1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right 80% bottom 20%;
  background-position: center;
  background-position: top left;
  background-size: cover;
  */
  /*
  background: black url("../assets/images/sujavai1.jpg") no-repeat center;
  
}
*/
/*
.headingone {
    color: rgb(36, 153, 13);
    background-color: black;
  }
  
  .headingtwo {
    color: blue;
    background-color: aqua;

  }
  */ 

  /* This is the css of headone */
/* #headone {

  border-style: solid;
  border-width: 5px;
  border-color: red;

  /* This is the css of headone

  border: 10px solid rgb(0, 255, 42);
  color: aqua;
  background-color: blue;
  border-top-style: dashed;
  border-radius: 100px;
  margin-bottom: 100px;
  padding: 50px 70px 50px 70px;
  max-width: 300px;
  height: 150px;
  outline: 5px solid red;
}
*/
/*
.ourpara {
  /* background-color: whitesmoke;
  color: aqua;
  text-align: justify;
  text-decoration: underline;
  text-transform: uppercase;
  text-indent: 100px;
  letter-spacing: 5px;
  line-height: 50px;
  word-spacing: 10px;
  white-space: pre-wrap;
  text-shadow: 2px 2px 5px red;
  */
  /*
  font-weight: bold;
  font-variant: small-caps;
}
pre {
   white-space: pre;
}
*/
a {
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  padding: 15px 35px;
  border-radius: 10px;
  border: 2px solid red;
  display: inline-block;
  margin:  100px 100px;
  /*transition: 2s;*/
}

  /*a:hover{
    color:darkorange;
  }*/
  a:active{
    color: white;
    background-color: brown;
  }
  a:visited {
    color: green;
  }

  ul {
    list-style-type:lower-greek;
  }

  ol {
    list-style-type: lower-alpha;
  }


  table {
    width: 100%;
  }

  table, th, td {
    border: 3px solid salmon;
  }

  th {
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }

  td {
    text-align: center;
    color: rgb(86, 157, 219);
  }

  th, td {
    padding: 15px;
  }

  tr:hover {
    background-color: burlywood;
    color: rgb(255, 0, 0);
  }
  tr:nth-child(odd) {
    background-color: rgb(136, 127, 255);
  }
  
  tr:nth-child(even) {
    background-color: brown;
  }

  td:nth-child(even) {
    background-color: brown;
  }

  th:nth-child(odd){
    background-color: yellow;
  }

/* This is footer style section */
  footer{
    margin-top: 300px;
  }
 



